pkgbase = wxc
	pkgdesc = A C wrapper around the wxWidgets C++ library
	pkgver = 1.0.0.1
	pkgrel = 1
	url = https://codeberg.org/wxHaskell/wxHaskell
	arch = x86_64
	license = custom:wxWindows
	makedepends = git
	makedepends = cmake
	depends = gcc
	depends = jsoncpp
	depends = wxwidgets
	source = git+https://codeberg.org/wxHaskell/wxHaskell#commit=d4f373020f11b00e96c78c27d4af9d45d8552a15
	sha512sums = SKIP

pkgname = wxc
